.map-container {
  width: inherit;
  height: inherit;
  z-index: 1;
}

.map-heading {
  position: absolute;
  top: 0%;
  left: 25%;
  background-color: rgba(0, 60, 136, 0.7);
  color: #fff;
}

/* geo north image is 301x301, mag north image is 200x200 */
#compassRose {
  position: absolute;
  bottom: 2.5em;
  left: 18px;
  width: 261px;
  height: 261px;
  z-index: 1000;
}

#geoCompassRose {
  position: absolute;
  width: 261px;
  height: 261px;
}

#magCompassRose {
  position: absolute;
  width: 261px;
  height: 261px;
  transform: rotate(0deg);
}

#magCompassText {
  position: absolute;
  top: 50%;
  right: 50%;
  color: #e50083;
  font-size: 9px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100px;
  text-align: center;
  transform: translate(50%, -30%);
}

#magCompassTextTop {
  position: relative;
  bottom: 20px;
}